name: Create issues from CSV

on:
  workflow_dispatch: {}

jobs:
  create-issues:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      issues: write

    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.x'

      - name: Create issues from issues.csv
        env:
          GH_TOKEN: ${{ github.token }}
        # Runs the python script using the file argument
        run: python scripts/create_issues.py issues.csv
